<!DOCTYPE html>
<html>
<head>
    <title> AgIoT </title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<header>
    <h1><img src="/images/atoi_logo.png"></h1>
</header>
<div>
    <table align="center">
        <% for(var i = 0; i < num_row; i++) { %>
        <tr>
            <% for (var j = 0; j < num_col; j++) { %>
            <% var number = i * num_col + j; %>

            <td id="cell-<%= number %>"
                    <% if (imageCells[number]) { %>
                style="background-image: url(<%= imageCells[number] %>)">
                <% } %>
            </td>

            <% } %>
        </tr>
        <% } %>
    </table>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    socket.on('updateCell', function(cell) {
        const $cell = $("#cell-" + cell.number);

        $cell.css("background-image",
                    `url("${cell.image}")`)
    })
</script>

</body>
</html>
